<h1>
	Hello, <%= params["name"] %>.
	<br>
	We will calculate the shipping from <%= params["pickupzip"] %> to <%= params["deliveryzip"] %> and email it to <%= params["email"] %>.
	<br>
	Thank you for your interest in M.D.A Freight!
</h1>
